body,html{
  font-weight: 200
}

.clearfix
  display: inline-block;
  &:after
    display: block;
    content: ''
    height: 0
    line-height: 0
    clear: both;
    visibility: hidden;
.button
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  background: #00b43c;
  color: white;
  line-height: 48px;
